{% extends 'PumukitNewAdminBundle::layout.html.twig' %}

{% block body %}

    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <p class="text-danger">{% trans %}Something was wrong{% endtrans %}: </p>
                <p>{{ msg }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p><a href="#" onclick="history.back();" class="btn btn-primary">{% trans %}Go back{% endtrans %}</a></p>
            </div>
        </div>
    </div>

{% endblock %}

